---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";

interface Props {
  title: string;
  id: string;
  icon?: string;
  lead: string;
  links?: { label: string; url: string; icon?: string }[];
}
const props = Astro.props;
---

<ContentSection title={props.title} id={props.id}>
  {
    props.icon ? (
      <Icon slot="eyebrow" name={props.icon} class="size-32" />
    ) : undefined
  }
  <Fragment slot="lead" set:html={props.lead} />
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    {
      (props.links || []).map(({ url, label, icon }) => (
        <a
          href={url}
          class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
        >
          {icon ? <Icon name="mdi:telescope" class="size-8" /> : undefined}
          <span>{label}</span>
        </a>
      ))
    }
  </div>
</ContentSection>
